
<div class="container">
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>ユーザ名</th>
          <th>紹介文</th>
          <th>フォロー数</th>
          <th>フォロワー数</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% customers.each do |customer| %>
          <tr>
            <td><%= image_tag customer.get_profile_image(100,100) %></td>
            <td>
              <%= link_to customer_path(customer.id) do %>
                <%= customer.name %>
              <% end %>
            </td>
            <td><%= customer.introduction %></td>
            <td>
        	    <%= link_to customer_followings_path(customer) do %>
                <%= customer.followings.count %>
              <% end %>
            </td>
            <td>
        	    <%= link_to customer_followers_path(customer) do %>
                <%= customer.followers.count %>
              <% end %>
            </td>
            <td>
              <% if customer != current_customer %>
                <div class="btn btn-outline-primary">
                  <%= render 'public/relationships/follow_button', customer: customer %>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
