
<div class="container">
  <div class="row">
    <div>
      <%= render 'public/posts/sort', tag_ids: tag_ids, type: type %>
    </div>
  </div>
  
  <div class="row">
    <% posts.each do |post| %>
      <div class="col-md-3">
        <div class="card">
          <%= post.genre.genre_name %>
          <%= link_to post_path(post.id) do %>
            <% if post.image.attached? %>
              <%= image_tag post.image, size: "100x100" %>
            <% else %>
              <%= image_tag 'default-image.jpg', size: "100x100" %>
            <% end %>
            <br>◆ <%= post.title %>
          <% end %>
          <%= post.introduction.truncate(50) %>
          <%= link_to "詳細", post_path(post), class: "btn btn-sm btn-dark" %>
          <% if current_customer.present? %>
            <div class="favorite_buttons_<%= post.id %>">
              <%= render 'public/favorites/favorite_button', post: post %>
　　        </div>
          <% else %>
            <div><%= render 'public/favorites/favorite_count', post: post %></div>
          <% end %>
          <!--削除済みのコメントをカウントしない-->
          <% comments = Comment.where(post_id: post.id).where(is_deleted: false) %>
            <%= link_to "#{comments.count} コメント", post_path(post) %>
            By<%= link_to customer_path(post.customer) do %>
              <%= post.customer.name %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>