<div class='container'>
  <div class='row'>
    <div class='col-md-4'>
      <%= render 'public/error/error_message', error: @post %>
    </div>
    <div class='col-md-4'>
      <h1>投稿編集</h1>
      
      <%= form_tag({controller:"posts",action:"edit"}, method: :get) do %>
          <%= text_field_tag :tag %>
          <%= submit_tag 'タグを追加' %>
      <% end %>
        
      <%= form_with model:@post,local:true do |f| %>        
        <div class='form-group'>
          <h4>タグ選択</h4>
          <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
            <div class='form-check'>
              <%= tag.label class: 'form-check-label' do %>
                <%= tag.check_box class: 'form-check-input' %>
                <%= tag.text %>
              <% end %>
            </div>
          <% end %>
        </div>
      
        <h4>ジャンル選択</h4>
        <h4><%= f.collection_select :genre_id, @genres, :id, :genre_name, prompt: "-- 選択してください --", required: true, class: "w-50" %></h4>
      
        <h4>画像</h4>
        <%= f.file_field :image, accept: "image/*" %>
  
        <h4>タイトル</h4>
        <%= f.text_field :title %>
  
        <h4>紹介文</h4>
        <%= f.text_area :introduction %>
  
        <h4>アピールポイント</h4>
        <%= f.text_area :selling_point %>
  
        <h4>詳細文</h4>
        <%= f.text_area :detail %>
  
        <div class="form-group">
          <%= f.submit class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
    <div class='col-md-4'></div>
  </div>
</div>
