
<div class="container">
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ジャンル</th>
          <th>投稿タイトル</th>
          <th>紹介文</th>
          <th>投稿ユーザ</th>
          <th>コメント本文</th>
        </tr>
      </thead>

      <tbody>
        <% comments.each do |comment| %>
          <tr>
            <td><%= comment.post.genre.genre_name %></td>
            <td>
              <%= link_to admin_post_path(comment.post.id) do %>
                <% if comment.post.image.attached? %>
                  <%= image_tag post.image, size: "100x100" %>
                <% else %>
                  <%= image_tag 'default-image', size: "100x100" %>
                <% end %>
                <%= comment.post.title %>
              <% end %>
            </td>
            <td><%= comment.post.introduction %></td>
            <td><%= comment.post.customer.name %></td>
            <td><%= comment.body %></td>
            <td>
              <% if comment.is_deleted == false %>
                表示
              <% else %>
                非表示
              <% end %>
            </td>
            <td>
              <% if comment.is_deleted == false %>
                <%= render 'admin/comments/comment_hide_button', comment: comment %>
              <% else %>
                <%= render 'admin/comments/comment_display_button', comment: comment %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>