
<div class="container">
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>ユーザ名</th>
          <th>紹介文</th>
          <th>フォロー数</th>
          <th>フォロワー数</th>
          <th>会員ステータス</th>
        </tr>
      </thead>

      <tbody>
        <% customers.each do |customer| %>
          <tr>
            <td class="col-md-2 mx-auto text-left"><%= image_tag customer.get_profile_image(100,100) %></td>
            <td class="col-md-2 mx-auto text-left">
              <%= link_to admin_customer_path(customer.id) do %>
                <%= customer.name %>
              <% end %>
            </td>
            <td class="col-md-3 mx-auto text-left"><%= customer.introduction %></td>
            <td class="col-md-1 mx-auto text-left"><%= customer.followings.count %></td>
            <td class="col-md-1 mx-auto text-left"><%= customer.followers.count %></td>
              <%=  %>
            </td>
            <td class="col-md-3 mx-auto text-left">
              <% if customer.is_deleted == false %>
                <div class="text-success">
                  <strong><%= '登録中' %></strong>
                </div>
              <% else %>
                <div class="text-secondary">
                  <strong><%= '退会済み' %></strong>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
