<div class="container">
  <div class="row">
    <div>
      <%= render 'admin/searches/sort' %>
    </div>
  </div>
  
  <div class="row">
    <% posts.each do |post| %>
      <div class="col-md-3">
        <div class="card">
          <%= post.genre.genre_name %>
          <%= link_to admin_post_path(post.id) do %>
            <% if post.image.attached? %>
              <%= image_tag post.image, size: "100x100" %>
            <% else %>
              <%= image_tag 'default-image', size: "100x100" %>
            <% end %>
          <% end %>
          <%= link_to post_path(post.id) do %>
            <%= post.title %>
          <% end %>
          <%= post.introduction %>
          <%= post.selling_point %>
          <%= post.detail %>
              
          <%= render 'public/favorites/favorite_count', post: post %>
          <!--削除済みのコメントをカウントしない-->
          <% comments = Comment.where(post_id: post.id).where(is_deleted: false) %>
            <%= link_to "#{comments.count} コメント", admin_post_path(post) %>
          <% if post.is_deleted == false %>
            <%= render 'admin/posts/post_hide_button', post: post %>
          <% else %>
            <%= render 'admin/posts/post_display_button', post: post %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>