
<div class="container">
  <div class="m-md-1"><br>
  <div class="row">
    <h4 class="col-md-3 mx-auto text-center" style="background-color:#DDD">
      <strong><%= genre.genre_name %>一覧</strong>
    </h4>
    <div class="col-md-9 mx-auto text-right"></div>
  </div>
  
  <div class="row">
    <div>
      <%= render 'sort', genre: genre %>
    </div>
  </div>
  
  <div class="row">
    <% posts.each do |post| %>
      <div class="col-md-3">
        <div class="card">
          <%= link_to post_path(post.id) do %>
            <% if post.image.attached? %>
              <%= image_tag post.image, size: "100x100" %>
            <% else %>
              <%= image_tag 'default-image', size: "100x100" %>
            <% end %>
          <% end %>
          <%= link_to post_path(post.id) do %>
            <%= post.title %>
          <% end %>
          <%= post.introduction %>
          <%= post.selling_point %>
          <%= post.detail %>
              
          <% if current_customer.present? %>
            <div><%= render 'public/favorites/favorite_button', post: post %></div>
          <% else %>
            <div><%= render 'public/favorites/favorite_count', post: post %></div>
          <% end %>
          <!--削除済みのコメントをカウントしない-->
          <% comments = Comment.where(post_id: post.id).where(is_deleted: false) %>
            <%= link_to "#{comments.count} コメント", post_path(post) %>
        </div>
      </div>
    <% end %>
  </div>
</div>