<div class='container'>
  <div class='row'>
    <div class='col-md-2'>
      <% if @post.image.attached? %>
        <%= image_tag @post.image, size: "100x100" %>
      <% else %>
        <%= image_tag 'default-image', size: "100x100" %>
      <% end %>
      <td>
        <% if @post.is_deleted == false %>
          <%= render 'post_hide_button', post: @post %>
        <% else %>
          <%= render 'post_display_button', post: @post %>
        <% end %>
      </td>
    </div>
    <div class='col-md-7'>
      <% @post.tags.each do |tag| %>
        <button type="button" class="btn btn-primary">
          <span><%= tag.name %></span>
        </button>
      <% end %>
      
      <h2><strong>ジャンル</strong></h2>
      <h5><%= @post.genre.genre_name %></h5>

      <h2><strong>タイトル</strong></h2>
      <h5><%= @post.title %></h5>

      <h2><strong>紹介文</strong></h2>
      <p><%= @post.introduction %></p>

      <h2><strong>アピールポイント</strong></h2>
      <p><%= @post.selling_point %></p>

      <h2><strong>詳細</strong></h2>
      <p><%=  @post.detail %></p>

      <h2><strong>ユーザーネーム</strong></h2>
      <p>
        <%= link_to admin_customer_path(@post.customer) do %>
          <%=  @post.customer.name %>
        <% end %>
      </p>

      <h2><strong>投稿日</strong></h2>
      <p><%=  @post.created_at %></p>
    </div>
    <div class='col-md-3'></div>
  </div>

  <div class="row">
    <!--いいねボタン-->
    <div><%= render 'public/favorites/favorite_count', post: @post %></div>
    <!--編集・削除ボタン-->
    <% if @post.customer == current_customer %>
      <div class="action center-block mx-auto">
        <%= link_to '編集する',edit_post_path(@post), class: 'btn btn-success' %>
      </div>
      <div class="action center-block mx-auto">
        <%= link_to '削除する',post_path(@post), method: :delete, class: 'btn btn-danger' %>
      </div>
    <% end %>
  </div>


  <div class="row">
    <div>
      <p>コメント件数：<%= @post.comments.count %></p>
      <% @post.comments.each do |comment| %>
        <p><%= image_tag comment.customer.get_profile_image(100,100) %></p>
        <%= comment.customer.name %>
        <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.body %>
        <% if comment.is_deleted == false %>
          <%= render 'admin/comments/comment_hide_button', comment: comment %>
        <% else %>
          <%= render 'admin/comments/comment_display_button', comment: comment %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>

