
<div class="container">
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ジャンル</th>
          <th>タイトル</th>
          <th>紹介文</th>
          <th>アピールポイント</th>
          <th>詳細文</th>
        </tr>
      </thead>

      <tbody>
        <% drafts.each do |draft| %>
          <tr>
            <td><%= draft.genre.genre_name %></td>
            <td>
              <%= link_to edit_customer_draft_path(draft.customer, draft) do %>
                <% if draft.image.attached? %>
                  <%= image_tag draft.image, size: "100x100" %>
                <% else %>
                  <%= image_tag 'default-image.jpg', size: "100x100" %>
                <% end %>
                <%= draft.title %>
              <% end %>
            </td>
            <td><%= draft.introduction %></td>
            <td><%= draft.selling_point %></td>
            <td><%= draft.detail %></td>
            <td>
              <!--ログインユーザがコメントしたユーザと同一の場合、削除ボタンを表示-->
              <% if draft.customer == current_customer %>
                <%= link_to "削除", customer_draft_path(current_customer, draft), method: :delete %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>